:root {
  --blue: #4040fa;
  --darker-blue: #3131bb;
  --lighter-black: #151515;
  --gray: #808080;
  --light-gray: #cecece;
  --dark-gray: #111111;
  --black: #000000;
  --white: #FFFFFF;
  --white-text: #FFFFFF;
  --red: #FF0000;
  --green: #008000;
  --small-font: 11px;
}

body {
  background-color: var(--dark-gray);
}
body input {
  border: none;
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

.white-text {
  color: var(--white-text);
}

.auto-login {
  color: var(--white-text);
}

.username-display {
  font-weight: bold;
}

.active-nav-button {
  background-color: var(--blue);
  padding: 10px;
  color: var(--white-white);
  cursor: pointer;
}

.nav-button, .logout, .username-display {
  transition: 0.3s;
  color: var(--white-white);
  padding: 10px;
}

.nav-button:hover, .logout:hover {
  background-color: var(--lighter-black);
  cursor: pointer;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  color: var(--white-text);
}

.profile-page {
  color: var(--white-text);
}

.profile-pic {
  height: 300px;
  width: 300px;
}
.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.change:hover {
  cursor: pointer;
  font-weight: bold;
}

.opacity {
  opacity: 0.5;
}

.custom-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 45%;
  top: 30%;
  background-color: #cecece;
  padding: 15px;
  z-index: 1;
}
.custom-modal div:first-of-type {
  color: var(--black);
}

.reaction-and-count {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reaction:hover {
  cursor: pointer;
  color: var(--gray);
}

.events-none {
  pointer-events: none;
}

.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-text);
}

.post {
  background-color: var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
}
.post .post-date-display {
  font-size: var(--small-font);
}

.post-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.send-message-from-post {
  align-items: center;
}
.send-message-from-post input {
  border-radius: 10px 0 0 10px;
}
.send-message-from-post .default-button {
  border-radius: 0 10px 10px 0;
}

.default-button {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 7px;
  color: var(--white-text);
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.default-button:hover {
  transition: 0.3s;
  background-color: var(--darker-blue);
}

.user-card {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: 10px;
}
.user-card img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.selected-user-card {
  background-color: var(--blue);
  color: var(--white-text);
}

.close-btn {
  cursor: pointer;
}

.message {
  background-color: var(--light-gray);
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}
.message div:first-of-type {
  font-size: var(--small-font);
}

.message-display {
  background-color: var(--gray);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  height: 80vh;
  overflow: auto;
}

.single-post-image {
  max-height: 400px;
}
.single-post-image img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.comment-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: var(--gray);
  border-radius: 10px 10px 0 0;
  overflow: auto;
  padding: 10px;
  gap: 10px;
}

.comment-field {
  display: flex;
}
.comment-field input {
  width: 100%;
  border-radius: 0 0 0 10px;
}
.comment-field div {
  border-radius: 0 0 10px 0;
}

.comment {
  background-color: var(--light-gray);
  padding: 10px;
  border-radius: 10px;
}
.comment .name-and-timestamp {
  display: flex;
  gap: 5px;
  font-size: var(--small-font);
}
.comment .comment-interaction-display {
  display: flex;
  font-size: var(--small-font);
  gap: 10px;
}

.comment-container::-webkit-scrollbar {
  width: 5px;
}

.comment-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--black);
}

.single-post-like-display {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--white-text);
}
.single-post-like-display .default-button {
  width: 100%;
}

.single-post-title {
  color: var(--white-text);
  font-size: 30px;
}

.message-display::-webkit-scrollbar {
  width: 10px;
}

.message-display::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

.toolbar {
  display: flex;
}
.toolbar input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white);
  border-radius: 0 0 0 10px;
  padding: 10px;
}

.send-button {
  border-radius: 0 0 10px 0;
  background-color: var(--blue);
  border: none;
  color: var(--white-white);
  padding: 0 20px 0 20px;
}

.select-component, .custom-dropdown {
  background-color: var(--gray);
  border-radius: 10px;
  cursor: pointer;
}

.select-component {
  padding: 5px 10px;
  height: 34px;
}

.custom-dropdown {
  position: absolute;
  top: 105%;
  left: 0;
}
.custom-dropdown div {
  padding: 5px 10px;
  white-space: nowrap;
}
.custom-dropdown div:first-of-type:hover {
  border-radius: 10px 10px 0 0;
}
.custom-dropdown div:hover {
  background-color: var(--blue);
}
.custom-dropdown div:last-of-type:hover {
  border-radius: 0 0 10px 10px;
}

.loading {
  color: var(--white-text);
  padding: 10px;
  font-size: 20px;
}

.error {
  color: var(--red);
}

.success {
  color: var(--green);
}

.flex-1 {
  flex: 1;
}

.flex-4 {
  flex: 4;
}

/*# sourceMappingURL=App.css.map */
